<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projeto WebChat</title>
</head>
<script src="/socket.io/socket.io.js"></script>

<body>
  <main class="content">
    <section class="col-esq">
      <div class="top">
        <input type="text" id="nickname-input" data-testid="nickname-box" placeholder="Insira seu nickname" />
        <button type="button" id="nickname-button" data-testid="nickname-button">Salvar</button>
      </div>
      <ul id="users-list" class="board">
        <% users.map((user)=>{%>
          <li id=<%=user.id %> data-testid="online-user">
            <%= user.nickname %>
          </li>
          <% }) %>
      </ul>
    </section>
    <aside id="board-messages" class="col-dir">
      <% messages.map((message)=>{%>
        <p data-testid="message">
          <%= `${message.timestamp} - ${message.nickname}: ${message.message}` %>
        </p>
        <% }) %>
    </aside>
  </main>
  <footer>
    <input type="text" id="message-box" data-testid="message-box" placeholder="Digite sua mensagem aqui" />
    <button type="button" id="send-button" data-testid="send-button">Enviar</button>
  </footer>
  <script src="./js/index.js"></script>
</body>

</html>